<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= link_to "Join #{@group.name}", join_group_path %>
  <b>Users:</b>
  <%= @group.users.first.email if @group.users.any? %>
  <b>Songs:</b>
  <%= @group.songs.first.title if @group.songs.any? %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
