<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
  <b>Users:</b>
  <%= @group.users.first.email %>
  <b>Songs:</b>
  <%= @group.songs.first.title %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
